html, body {
  margin: 0;
  padding: 0;
}

.grabbing-cursor,
.grabbing-cursor .app,
.grabbing-cursor .grip,
.grabbing-cursor .CodeMirror,
.grabbing-cursor .CodeMirror-lines {
  cursor: -webkit-grabbing !important;
  cursor: -mox-grabbing !important;
  cursor: grabbing !important;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editable-font {
  font: 500 24px "Source Code Pro", monospace;
  color: #444;
}

.query {
  padding: 16px 64px;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.query .regex {
  height: 36px;
}

.query .regex .CodeMirror {
  height: 36px;
  position: absolute;
  left: 64px;
  right: 64px;
}

.query .regex .CodeMirror .regex-decorator {
  color: #aaa;
}

.query .bubble {
  display: none;
  padding: 8px 16px;
  position: absolute;
  top: 16px;
  bottom: 16px;
  right: 64px;
  background-color: lightgray;
  border-radius: 4px;
  color: white;
  font: 16px/20px "Source Code Pro", monospace;
}

.query .bubble:not([data-status="hidden"]) {
  display: block;
}

.query .bubble[data-status="red"] {
  background-color: red;
}

.corpus {
  position: absolute;
  top: 69px;
  bottom: 0;
  left: 0;
  right: 0;
}

.grips {
  position: absolute;
  top: 36px;
  left: 68px;
  width: 0;
  height: 0;
  z-index: 1000;
}

.grips .grip {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  cursor: -webkit-grab;
  cursor: -mox-grab;
  cursor: grab;
}

.editor {
  position: absolute;
  top: 32px;
  left: 64px;
  right: 64px;
}

.editor .CodeMirror {
  width: 100%;
  height: 200px;
  background-color: transparent;
}

.editor .CodeMirror-line:not(:last-child):after {
  content: "\ac";
  color: silver;
  font-size: 80%;
  padding-left: 2px;
}

.canvas {
  position: absolute;
  top: 36px;
  left: 68px;
}
