<html>
  <head>
    <title>RegFixer</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/libs.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="app"></div>

    <script src="/libs.js"></script>
    <script src="/app.js"></script>

    <script>
      let app = ReactDOM.render(React.createElement(frontend.App, {
        regex: '\\d+',
        corpus: 'abc def 123 456 ghi',
      }), document.querySelector('.app'))
    </script>
  </body>
</html>
